<apex:page standardController="Account" extensions="AccountFileUploadController" sidebar="false">

<apex:form id="frm">
	<apex:outputPanel id="ids">
        <input type="hidden" id="idPrevisao" value="{!previsao}" />
   </apex:outputPanel>   

   <apex:pageMessages />  
   <apex:actionFunction name="render" rerender="ids" />
</apex:form>
 
  <apex:form enctype="multipart/form-data">
    
    <apex:pageBlock title="Upload a Logo">
      <apex:pageBlockSection showHeader="false" columns="2" id="block1">

        <apex:pageBlockSectionItem >
           
	<apex:outputLabel value="File Type : " style="font-weight: bold;"/>
	<apex:selectList value="{!previsao}" size="1" multiselect="false" onchange="render(); return false;">
	 	<apex:selectOptions value="{!lstOptionsPhoto}" id="teste"/>
	</apex:selectList>
        </apex:pageBlockSectionItem>
 		
        <apex:pageBlockSectionItem >
          <apex:outputLabel value="File" for="file"/>
          <apex:inputFile value="{!document.body}" filename="{!document.name}" id="file" accept=".jpeg, .png"/>
        </apex:pageBlockSectionItem>

      </apex:pageBlockSection> 

      <div align="center">
      	<apex:commandButton action="{!upload}" value="            Save             " onclick="this.form.target='_parent'"/>
      </div>
    </apex:pageBlock>
  </apex:form>

</apex:page>