<apex:page recordSetVar="invoices" standardController="Invoice__c" standardStylesheets="false" renderas="{!IF($CurrentPage.parameters.pdf == 'false', '', 'PDF')}" extensions="CreateInvoicePage">
    <html>
    <body style="font-family: sans-serif;font-size: 85%;">
    <div style="  font-size: 13px;">
<div style="width: 40%; float: left;  margin-bottom: 20px;">
<apex:image id="logo2" url="{!$Resource.griinvoicelogo}" />
</div>
<div style="width: 100%; float: left;  margin-bottom: 10px; margin: 10px 0px;">
<div style="padding: 10px; font-weight: bolder; font-size: 16px;   border-bottom: 7px solid #404040; padding-left: 0px; color: #404040; display: block; margin-bottom: 5px;">
Invoice
</div>
<div style="padding: 10px; font-size: 18px;    background: #e6e7e9; color: #404040; display: block; margin-bottom: 5px;">
From: <b>GRI Services Limited</b>
</div>
<div  style="width: 100%;   font-size: 13px; margin-top: 20px;">
               
                <div style="width: 100%; display: block; float: left;">
                    <div style="float: left; width: 49%; ">
                      <div><b>European Offices:</b></div>
                         <div>Suite 02B137</div>
                         <div>2 Eastbourne Terrace</div>
                         <div>London</div>
                         <div>W2 6LG</div>                       
                    </div>

                    <div style="float: right; width: 49%;">                       
                       
                        <div><strong>Tel:</strong> +44 207 1215060 | <strong>Fax:</strong> +44 207 3888740</div>
                        <div></div>
                        <div>www.griclub.org | &nbsp;<apex:outputField value="{!invoice.regemail__c}" /></div>
                        <div></div>
                        <div>Reg Number 05317785</div>
                        <div></div>
                        <div>VAT Number 854 1343 36</div>
                        <div></div>
                        <div>PAN Number AAECG0718N</div>
                    </div>
                </div>
             
              
<div style="float: left; width: 49%; margin-top: 20px;">
<div style="padding: 10px; font-size: 14px;    background: #e6e7e9; color: #404040; display: block; margin-bottom: 5px;">
To:

</div>
&nbsp;&nbsp;<apex:outputField value="{!invoice.FirstName__c}" />&nbsp;<apex:outputField value="{!invoice.LastName__c}" />
              <br/>
              &nbsp;&nbsp;<apex:outputField value="{!invoice.Company_BadgeName__c}" /><br/>
              &nbsp;&nbsp;<apex:outputField value="{!invoice.Billing_Street__c}" /><br/>
              &nbsp;&nbsp;<apex:outputField value="{!invoice.Billing_City__c}" /><br/>
              &nbsp;&nbsp;<apex:outputField value="{!invoice.Billing_PostCode__c}" /><br/>
              &nbsp;&nbsp;<apex:outputField value="{!invoice.Country_Name__c}" /><br/>
              &nbsp;&nbsp;<div style="display:{!if((invoice.VAT_Number__c == ''), 'none', 'inline-block')}">
              VAT Number: <apex:outputField value="{!invoice.VAT_Number__c}" />
</div></div>
<div style="float: right; width: 49%; margin-top: 20px;">
<div style="padding: 10px; font-size: 14px;    background: #e6e7e9; color: #404040; display: block; margin-bottom: 5px;">
<b>Invoice No.:</b> <apex:outputField value="{!invoice.Name}" />
</div>
<div style="padding: 10px; font-size: 14px;    background: #e6e7e9; color: #404040; display: block; margin-bottom: 5px;">
<b>Invoice Date:</b> <apex:outputText value="{0,date,dd/ MM/ yyyy}"> 
                <apex:param value="{!invoice.Invoice_Date__c}" > </apex:param>
              </apex:outputText>
</div>
<div style="padding: 10px; font-size: 14px;    background: #e6e7e9; color: #404040; display: block; margin-bottom: 5px;">
<b>Customer Order No.:</b> <apex:outputField value="{!invoice.Customer_Order_Number__c}" />
</div>
</div>

<div style="width: 100%; float: left;">
<h1 style="  font-size: 18px; font-weight: bolder;"><apex:outputLabel escape="false" value="{!invoice.Order_Description__c}" /></h1>


<div style="padding: 2%; font-size: 13px; width: 46%; display: block; float: left; color: #000; display: block; margin-top: 15px;">
<div style="background: #e6e7e9;">
<div style="display:inline-block;width: 100%;">
                            <div style="float:left;">
                                <b>Total Net Amount&nbsp; : </b>
                            </div>
                            <div style="float:right;">
                                <apex:outputField value="{!invoice.CurrencyIsoCode}" />&nbsp;
                                <apex:outputText value="{0,number,####.00}">
                                    <apex:param value="{!invoice.Total_Net_Amount__c}" />
                                </apex:outputText>
                            </div>

                        </div>
                        <div style="width: 100%;display:{!if((invoice.Discount__c == 0), 'none', 'inline-block;')}">
                            <div style="float:left;">
                                <b>Discount&nbsp; : </b>
                            </div>
                            <div style="float:right;">
                                <apex:outputField value="{!invoice.CurrencyIsoCode}" />&nbsp;
                                <apex:outputText value="{0,number,####.00}">
                                    <apex:param value="{!invoice.Discount__c}" />
                                </apex:outputText>
                            </div>

                        </div><br />
                        <div style="clear:both;"></div>

                        <div style="width: 100%;display:{!if((invoice.VAT__c == '0'), 'none', 'inline-block;')}">
                            <div style="float:left;">
                                <b>VAT Rate&nbsp; : </b>
                            </div>
                            <div style="float:right;">
                                <apex:outputField value="{!invoice.VAT__c}" />%
                            </div>

                        </div><br />
                        <div style="clear:both;"></div>

                        <div style="width: 100%;display:{!if((invoice.VAT_Amount__c == 0), 'none', 'inline-block;')}">
                            <div style="float:left;">
                                <b>Total VAT Amount&nbsp; : </b>
                            </div>
                            <div style="float:right;">
                                <apex:outputField value="{!invoice.CurrencyIsoCode}" />&nbsp;
                                <apex:outputText value="{0,number,####.00}">
                                    <apex:param value="{!invoice.VAT_Amount__c}" />
                                </apex:outputText>
                            </div>

                        </div><br />
                        <div style="clear:both;"></div>

                        <div style="display:inline-block;width: 100%;">
                            <div style="float:left;">
                                <b>Invoice Total&nbsp; : </b>
                            </div>
                            <div style="float:right;">
                                <apex:outputField value="{!invoice.CurrencyIsoCode}" />&nbsp;
                                <apex:outputText value="{0,number,####.00}">
                                    <apex:param value="{!invoice.Invoice_Total__c}" />
                                </apex:outputText>
                            </div>

                        </div><br />
                        <div style="clear:both;"></div>                             
                        </div>

                    <br/>
                    <div style="font-size: 10px; display:{!if((invoice.Custom_French_Spain_Message__c == ''), 'none', 'inline-block;')}">
                    <apex:outputLabel escape="false" value="{!invoice.Custom_French_Spain_Message__c}" />
                    </div>    
        </div>
    
<div style="float: right; width: 49%; margin-top: 25px;">
                        <div style="padding: 2%; font-size: 14px; color: #404040; display: block; margin-bottom: 5px;">
                            <span style="padding-left: 1px;"><b>Invoice Status: </b><span>PAID</span></span>
                        </div>
</div>
</div>
<br />
</div>
</div>
</div>
</body>
</html>
</apex:page>