<apex:page sidebar="false" showHeader="false" standardStylesheets="false" cache="false" applyHtmlTag="false">
    <html>
        <head>
            <meta name="google-site-verification" content="GOi2s0lq7arqZ39UKJ9gZ4FfuwGgL7TxOgWJ3CjJ840" />
        </head>
    </html>
</apex:page>