<apex:page showHeader="false" controller="SalesPreChatController" standardStyleSheets="false" sidebar="false" cache="false" applyHtmlTag="false">
    <head>
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"/>
        <link rel="icon" href="{!URLFOR($Resource.grilogo2018,'gri-favicon.png')}" />
        <apex:stylesheet value="{!URLFOR($Resource.websiteChatStyle,'website-chat-style.css')}"/>
    </head>
    
    <!--Includes-->
    
    v0.1.26
    
    
    <div class="container">
        <div id="form">
            <h1>Send a Messege</h1>
            <form method="post" id="prechatForm">
                <!--Personal data-->
                <div id="floatleft">
                    <div class="label">First Name</div>
                    <input type="text" id="offline-prechat-first-name" name="firstname" placeholder="First Name" />
                </div>
                
                <div id="floatright">
                    <label class="label" for="offline-prechat-last-name">Last Name:</label>
                    <input name="offlinePrechatLastName" type="text" class="form-control" 
                           id="offline-prechat-last-name" placeholder="Last Name" />
                </div>     
                
                <div style="clear: both;"></div>
                <div class="label">Company Name</div>
                <input name="offlinePrechatCompany" type="text" class="form-control" id="offline-prechat-company" placeholder="Company Name"  />
                
                <div style="clear: both;"></div>
                 
                <div id="invalid-email-msg" style="display:none">*Please select a valid e-mail address</div>
                <div class="label">E-mail</div>
                <input name="offlinePrechatEmail" type="text" class="form-control" id="offline-prechat-email" placeholder="Email" required="true" />
                
                <div style="clear: both;"></div>
                <div class="label"><label for="preffered-contact-form">Preffered Contact Form:</label></div>
                <div class="form-group" name="prefferedContactForm">
                    <label class="bg">E-mail<input class="checkmark"  id="offline-prechat-email-checkbox" name="prefferedContactForm" type="checkbox" value="Email" /><span class="checkmark"></span></label>
                    <label class="bg">Phone<input class="checkmark" id="offline-prechat-phone-checkbox" name="prefferedContactForm" type="checkbox" value="Phone" /><span class="checkmark"></span></label>
                </div>                        
                
                <div style="clear: both;"></div>
                <div class="label">Phone</div>
                <input name="offlinePrechatPhone" type="text" class="form-control" id="offline-prechat-phone" placeholder="Phone"/>
                                
                
                <div style="clear: both;"></div>
                <div class="label">Comment</div>
                <textarea  style="resize:none" class="form-control" rows="5" id="offline-prechat-text"></textarea>
                
                <!--Button-->
                <div align="center">
                    <!--
                    <button class="button2" id="offline-chat-click-action" ><span>Submit</span></button>
                    -->
                    <a class="button2" id="offline-chat-click-action" ><span>Submit</span></a>
                </div>
                
                
            </form>
        </div>
    </div>        
    
    <div id="test-event">
        Data: 
    </div>
    
    <!--ERROR HANDLER
    <div style="display: none" >
        <div id="error-handler-div">
            <div id="blockSection" columns="2">
                <div id="firstItem">
                    <span id="objId"/>
                </div>
                <div id="secondItem">
                    <output id="objFirstName"/>
                </div>
            </div>
        </div>
    </div>
    -->    
    <!-- Scripts -->
    <script type="text/javascript">
    function validateEmail(emailString)
    {
        let re = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;                                                  
        return re.test(emailString);
    }
    function handlerEvents(result, event)
        {
            console.log("result="+result);
            if (event.status) 
            {
                console.log("Sucess!");
            } 
            else if (event.type === 'exception') {
                //document.getElementById("error-handler-div").innerHTML = 
                //    event.message + "<br/>\n<pre>" + event.where + "</pre>";
                console.log("event.message="+event.message+", event.where="+event.where)
            } 
                else 
                {
                    document.getElementById("error-handler-div").innerHTML = event.message;
                    console.log("event.message="+event.message);
                }
        }        
        
        function saveOnDatabase()
        {
            $("#invalid-email-msg").css({"display":"none"});
            let prechatEmail = $("#offline-prechat-email").val();
            let prechatPhone = $("#offline-prechat-phone").val();
            let communicationMedium = ($("#offline-prechat-phone-checkbox").prop("checked"))?
                "Phone":"Email";
            let prechatFirstName = $("#offline-prechat-first-name").val();
            let prechatLastName = $("#offline-prechat-last-name").val();     
            let prechatCompany = $("#offline-prechat-company").val();  
            let prechatComment = $("#offline-prechat-text").val();
            if(validateEmail(prechatEmail))
            {
                document.getElementById("test-event").innerHTML += "prechatEmail="+prechatEmail;
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.SalesPreChatController.offlinePrechatProcedure}', 
                    prechatEmail, prechatPhone, communicationMedium, prechatFirstName, 
                    prechatLastName, prechatCompany, prechatComment,
                    handlerEvents
                ); 
                openWindow();
                //window.open('https://smartus-gri-group-sandbox-test.cs25.force.com/offlinesalespostchat/', '_self')

                //window.location = 'https://smartus-gri-group-sandbox-test.cs25.force.com/offlinesalespostchat/';
                //window.open('https://smartus-gri-group-sandbox-test.cs25.force.com/offlinesalespostchat/', '_blank) ;
                //self.reload('https://smartus-gri-group-sandbox-test.cs25.force.com/offlinesalespostchat/');
                //self.close ();
    
                //window.location.href='https://smartus-gri-group-sandbox-test.cs25.force.com/offlinesalespostchat/';
                //window.location.reload();
            }
            else 
            {
                //$("#offline-prechat-email").css("background-color", "red");
                $("#offline-prechat-email").css({
                    "width": "100%",
                    "padding": "12px 20px",
                    "margin": "8px 0",
                    "box-sizing": "border-box",
                    "border": "2px solid red",
                    "border-radius": "4px"
                });
                $("#invalid-email-msg").css({"font-size": "13px", "display": "inline","color":"red"});
            }
        }
        function openWindow()
        {
            //window.open('https://smartus-gri-group-sandbox-test.cs25.force.com/offlinesalespostchat/', '_blank') ;
            //self.close ();
            window.open('https://grigroup.secure.force.com/smartusofflinepostmsg/', '_self') ;
        }
        // Hide phone number on click
        $(document).ready(function(){
            $('.offline-prechat-contact-form').click(function() {
                $('.offline-prechat-contact-form').not(this).prop('checked', false);
            });
        $("#offline-prechat-email-checkbox").click(function(){
            if ( $(this).prop("checked")){
                $("#offline-prechat-phone-checkbox").prop('checked',false);
                console.log(" $(this).prop(checked)="+ $(this).prop("checked")); 
                console.log(" $(#offline-prechat-phone-checkbox).prop(checked)="+ $("#offline-prechat-phone-checkbox").prop("checked")); 
            }
        });
        $("#offline-prechat-phone-checkbox").click(function(){
            if ($(this).prop("checked"))
            {
                $("#offline-prechat-email-checkbox").prop('checked',false);
                console.log(" $(this).prop(checked)="+ $(this).prop("checked"));
                console.log(" $(offline-prechat-email-checkbox).prop(checked)="+ $(this).prop("checked"));
            }
        });
        $("#offline-chat-click-action").click(function(){
            saveOnDatabase();
        });
    });
        
        </script>   
</apex:page>